#picture{
    width: 900px;
    height: 450px;
    border: black 5px solid;
}
.map{
    position: relative;
    left: 720px;
    top: 270px;
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px;
    grid-template-rows: 20px 20px 20px 20px 20px 20px 20px;
}
.box{
    border: white 1px solid;
}
#directions{
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 150px;
    left: 950px;
    top: 75px;
}
#restart{
    display: none;
    position: relative;
    background-color: black;
    color: red;
    font-family: fantasy;
    font-size: xx-large;
    text-align: center justify;
    border: 5px darkred solid;
    left: 950px;
    bottom: 350px;
    height: 100px;
    width: 200px;
}
.dirbutton{
    text-align: center;
    padding: 10px;
    width: 125px;
    height: 45px;
}
#b0{
    display: block;
}
#b1{
    display: block;
}
#b2{
    display: block;
}
#b3{
    display: block;
}
#b4{
    display: block;
}
#b5{
    display: block;
}
#b6{
    display: block;
}
#b7{
    display: block;
}